<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>Cars</title>
</head>
<body>

<header>
    <nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light  p-0">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="../" class="navbar-brand"><img src="../static/img/red_car.svg"
                                                th:src="@{/img/red_car.svg}"
                                                height="50" width="60" alt="red_car"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-item nav-link active" href="#"
                   th:href="@{/}"><h5>Make order</h5></a>
                <a class="nav-item nav-link" href="#"
                   th:href="@{/orders}"><h5>Show orders</h5></a>
                <a class="nav-item nav-link" href="period.html"
                   th:href="@{/period}"><h5>Statistics</h5></a>
            </ul>
        </div>
    </nav>
</header>

<div class="card">
    <div class="card-header">
        <h3>Choose the data</h3>
    </div>
    <div class="card-body">
        <p class="card-text">You can choose car rental date.</p>
        <div class="input-group mb-3">
            <label>
                <input id="filter-input"
                       type="text"
                       placeholder="yyyy-mm-dd"
                       data-inputmask="'mask': '9999-99-99'"
                       th:value="${filter}"
                       class="form-control"
                       onchange="changeShowAction()"
                       aria-describedby="basic-addon2">
            </label>
        </div>
        <div>
            <a id="filter-button"
               href="#" th:href="@{/cars}"
               class="btn btn-primary"
               title="Show free cars"
               data-toggle="tooltip"
               data-placement="bottom">
                <span class="d-none d-sm-inline">Show</span>
            </a>
        </div>
    </div>
</div>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<nav id="main-header"
     class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
    <span class="navbar-brand text-uppercase mr-auto">List of free cars</span>
    <ul class="navbar-nav float-right">
        <li class="nav-item">
            <a href="#"
               th:href="@{|/car|}"
               class="btn btn-light"
               title="Add car"
               data-toggle="tooltip"
               data-placement="bottom">
                <i class="fa fa-plus"></i> <span
                    class="d-none d-sm-inline">Add</span></a>
        </li>
    </ul>
</nav>

<div class="container-fluid" th:if="${not #lists.isEmpty(cars)}">
    <div class="row">
        <div class="col">
            <div class="card">

                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Brand</th>
                        <th>Registration Number</th>
                        <th>Price a day</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="car : ${cars}">
                        <td th:text="${car.brand}">BMW</td>
                        <td th:text="${car.registerNumber}">3909 AB-1</td>
                        <td th:text="${car.price} + '   $'">140 $</td>
                        <td class="text-right">
                             <span data-toggle="modal"
                                   data-target="#hiddenForm"
                                   th:attr="data-id=${car.id}, data-name=${car.brand} + ' '+  ${car.registerNumber} +' on date ' +  ${filter}">
                            <form th:id="'orderForm__${car.id}__'"  th:action="@{/orders}"
                                  th:method="@{post}"

                                  class="d-none d-md-inline">
                                <label>
                                    <input size="2" type="hidden" name="carId" th:value="${car.id}"/>
                                </label>
                                <label>
                                    <input size="2" type="hidden" name="date" th:value="${filter}"/>
                                </label>
                            </form>
                                  <a href="#"
                                     class="btn  btn-secondary"
                                     title="Order this car"
                                     data-toggle="tooltip"
                                     data-placement="top">
                                <i class="fa fa-book"></i><span
                                          class="d-none d-md-inline">  Order</span></a>
                             </span>
                            <a href="car.html"
                               th:href="@{|/cars/${car.id}|}"
                               class="btn-sm btn-outline-secondary"
                               title="Edit car"
                               data-toggle="tooltip"
                               data-placement="top">
                                <i class="fa fa-pencil"></i> <span
                                    class="d-none d-md-inline">Edit</span></a>
                            <span data-toggle="modal"
                                  data-target="#deleteDialog"
                                  th:attr="data-id=${car.id}, data-name=${car.brand} + ' '+  ${car.registerNumber}">
                               <a href="#"
                                  class="btn-sm btn-outline-secondary"
                                  title="delete car"
                                  data-toggle="tooltip"
                                  data-placement="top">
                                    <i class="fa fa-remove"></i> <span class="d-none d-md-inline">Delete</span></a>
                                </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<footer>
    <hr/>
    <p class="text-center">&copy; 2020</p>
</footer>

<!-- Confirm delete Modal -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Confirm adding order -->
<div class="modal fade" id="hiddenForm" tabindex="-1" role="dialog"
     aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h5 class="modal-title" id="modalLabel">Send order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm adding
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <a id="submitOrder" href="#"

                   class="btn btn-success">Send</a>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
<script src="../static/js/popper.min.js"
        th:src="@{/js/popper.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget);
       // var URLh = window.location.href;
       // alert("href  = " + URLh +"/" + target.data('id') + '/delete' );
        $(this).find('.modal-body').text('Please confirm delete car: "' + target.data('name') + '"');
        document.getElementById('deleteUrl').href ="/cars/"+ target.data('id') + '/delete';
    });

    $('#hiddenForm').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget);
        $(this).find('.modal-body').text('Please confirm booking car: "' + target.data('name') + '"');
        $('#submitOrder').on('click', function () {
            document.getElementById('orderForm'+target.data('id')).submit();
        });
    });

    function changeShowAction() {
        var currActionValue = document.getElementById('filter-button').href;
        var currentUrl = new URL(currActionValue);
        var filterValue = document.getElementById('filter-input').value;
        currentUrl.searchParams.set("filter", filterValue);
        document.getElementById('filter-button').href = currentUrl.href;
    }

    $('#filter-input').inputmask();
    $(document).ready(function () {
        $('#filter-input').inputmask();
    });
</script>
</body>
</html>